<header>
        <meta charset="utf-8">
        <div class="header_top">
            <div class="header_top_left">
                <a class="header_top_left_hover" href="/">Star Citizen TooLs</a>
                <img src="/spanner01.png">
            </div>
            <div class="header_top_right">
                <a href="What_SCT">What is Star Citizen TooLs</a>
            </div>
        </div>
    </header>

<div class="main_field">

</div>

<footer>
    <div class="footer_field">
        <div class="footer_field_right">
            <p>Made by HiRO.JP</p>
        </div>
        <div class="footer_field_left">
            <p>If you have a feedback, please send this mail.</p>
        </div>
    </div>
</footer> 