<header>
    <meta charset="utf-8">
    <div class="header_top">
        <div class="header_top_left">
            <a class="header_top_left_hover" href="/">Star Citizen TooLs</a>
            <img src="/spanner01.png">
        </div>
        <div class="header_top_right">
            <a href="What_SCT">What is Star Citizen TooLs</a>
        </div>
    </div>
</header>

<div class="main_field">
    <div class="main_title">
        <h2>Star Citizen TooLs.</h2>
        <p>Star Citizen TooLs provides SC users with useful "TooLs"</p>
    </div>
    <div class="contents_field">
        <div class="contents_title">
            <h4>Original TooLs...</h4>
        </div>
        <div class="contents_block">
            <h3>QD Timer</h3>
            <img src="/spanner01.png">
            <p>Alpha 3.5.1</p>
        </div>
        <div class="contents_block">
            <h3>QD Timer</h3>
            <img src="/spanner01.png">
            <p>Alpha 3.5.1</p>
        </div>
        <div class="contents_block">
            <h3>QD Timer</h3>
            <img src="/spanner01.png">
            <p>Alpha 3.5.1</p>
        </div>
        <div class="contents_title">
            <h4>Third party TooLs link...</h4>
        </div>
        <div class="contents_block">
            <h3>QD Timer</h3>
            <img src="/spanner01.png">
        </div>
    </div>
</div>



<footer>
    <div class="footer_field">
        <div class="footer_field_right">
            <p>Made by HiRO.JP</p>
        </div>
        <div class="footer_field_left">
                <p>If you have a feedback, please send this mail.</p>
        </div>
    </div>
</footer> 