<header>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <meta charset="utf-8">
    <div class="header_top">
        <div class="header_top_left">
            <a class="header_top_left_hover" href="/">
                Star Citizen BoXes
                <i class="fas fa-wrench"></i>
            </a>
            <!--<img src="/spanner01.png">-->
        </div>
        <div class="header_top_right">
            <a href="what_sct">What is Star Citizen BoXes</a>
        </div>
        <div class="header_language">
            <a href="/">JP</a>
        </div>
        <div class="header_language">
            <a href="/">EN</a>
        </div>
    </div>
</header>



<div class="main_field">
    <div class="main_title">
        <h2 class="top_title">Star Citizen Bo<span>X</span>es.</h2>
        <p class="top_p">Star Citizen BoXes provides SC users with useful "BoXes"</p>
    </div>
    <div class="contents_field">
        <div class="contents_title">
            <div class="contents_title_original">
                <h4>Original TooLs...</h4>
            </div>
        </div>
        <div class="contents_block_field">
            <div class="contents_block">
                <h3>QD Timer</h3>
                <img src="/spanner01.png">
                <p class="fukidashi">吹き出しが表示されます</p>
                <p>Alpha 3.5.1</p>
            </div>
            <div class="contents_block">
                <h3>Trader</h3>
                <img src="/spanner01.png">
                <p>Alpha 3.5.1</p>
            </div>
            <div class="contents_block">
                <h3>Custom</h3>
                <img src="/spanner01.png">
                <p>Alpha 3.5.1</p>
            </div>
            <div class="contents_title">
                <div class="contents_title_third">
                    <h4>Third party TooLs link...</h4>
                </div>
            </div>
            <div class="contents_block">
                <h3>Third</h3>
                <img src="/link.png">
            </div>

            <div class="contents_title">
                <div class="contents_title_data">
                    <h4>Deta Base link...</h4>
                </div>
            </div>
            <div class="contents_block">
                <h3>Data</h3>
                <img src="/book.png">
            </div>
            <div class="contents_block">
                <h3>Data</h3>
                <img src="/book.png">
            </div>
        </div>
    </div>
</div>



<footer>
    <div class="footer_field">
        <div class="footer_field_right">
            <p>
                Made by HiRO.JP
                <a href="https://twitter.com/Nu_HiROJPN"><i class="fab fa-twitter"></i></a>
            </p>
        </div>
        <div class="footer_field_left">
                <p>If you have a feedback, please send this mail.</p>
        </div>
    </div>
</footer> 