<header>
    <meta charset="utf-8">
    <div class="header_top_left">
        <a href="/">Star Citizen TooLs</a>
    </div>
    <div class="header_top_right">
        What is Star Citizen TooLs
    </div>
</header>

<div class="main_field">
    <div class="main_title">
        <h2>Star Citizen TooLs</h2>
        <p>Star Citizen TooLs provides SC users with useful "TooLs"</p>
    </div>
</div>

<footer>
    <div class="footer_field">
        <p>Made by HiRO.JP.</p>
    </div>
</footer> 