
//ALL
html {
    line-height: 1.5;
    letter-spacing: 1.2px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

// Header
header {
    //レイヤーと同様、この場合下から2番目（0から始まる為）
    z-index: 1;
    position: absolute;
    width: 100%;
    height:auto;
    padding: 8px 0 8px;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgb(47, 61, 97);
}

header a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
}

.header_top {
    color:white
}

.header_top a:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: rgb(255, 255, 255);
    transform: scale(0,1);
    transition: 0.4s;
}

.header_top a:hover:before {
    transform: scale(1);
}


.header_top_left {
    float: left;
    padding-left:20px;
    font-size:22px;
    font-weight:bold;;
    line-height: 35px;
}

.header_top_left a{
    font-size: 20px;
}

.header_top_left img {
    width:15px;
    height:auto;
}

.header_top_right {
    float: right;
    line-height: 35px;
    padding-right:20px;
    margin-left:30px;
}

.header_top_right a{
    font-size: 14px;
}

.header_language {
    float:right;
    font-size:20px;
    font-weight:bold;
    line-height: 35px;
    margin-right:20px;
}

//Main
.main_field {
    z-index:0;
    position: absolute;
    padding: 200px 0 100px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    color: white;
    background-color: rgb(77, 106, 143);
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
    background-image: url("/background.png");
}

.top_title{
    width:80%;
    margin:auto;
    font-size:115px;
    //font-weight:300px;
    line-height: 1.2;
    text-shadow:
    4px 4px 0px rgb(31, 47, 85),
    5px 5px 5px rgba(0, 0, 0, 0.377);
}

.top_p {
    width:80%;
    margin:auto;
    font-size:24px;
    text-shadow:1px 1px 0px rgb(31, 47, 85);
}

.main_title {
    position: relative;
    top:-55px;
}

.main_title span{
    color:rgb(77, 143, 88);
    text-shadow: 
    5px 5px rgb(41, 87, 48),
    6px 6px 5px rgba(0, 0, 0, 0.377)
    ;
}

//aboutページ等用
.main_text_field {
    z-index: 1;
    position: relative;
    text-align: left;
    padding: 40px 40px 40px;
    width: 60%;
    height:auto;
    min-height:700px;
    top:-50px;
    margin:auto;
    background-color:rgba(47, 61, 97, 0.904);
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.623);
}

.main_text_field_h {
    text-align: center;
    line-height: 4;
}

//contents
.contents_field {
    position:relative;
    margin: auto;
    width: 75%;
    height: auto;
}

.contents_field h3{
    font-size:20px;
    padding:8px;
    border-bottom:1px solid #111111;
    margin-bottom:15px;
}

.contents_field p{
    font-size:20px;
    line-height: 0.9;
    margin:5px;
}

.contents_title {
    font-size:16px;
    letter-spacing: 10px;
    font-style:italic;
    padding:5px;
    text-shadow:2px 2px 0px rgb(31, 47, 85);
    margin:50px auto auto auto;
}

.contents_title_original {
    background-color:rgba(255, 255, 255, 0.062);
    border-bottom:4px solid rgba(255, 255, 255, 0.651);
    border-radius: 15px;
    box-shadow:
    1px 2px 1px rgb(92, 115, 167), 
    2px 4px 1px rgb(81, 103, 153),
    3px 6px 1px rgb(71, 91, 139),
    4px 8px 1px rgb(60, 81, 129),
    5px 10px 1px rgb(52, 72, 119),
    6px 12px 0px rgb(31, 47, 85),
    7px 13px 5px rgba(0, 0, 0, 0.377);
}

.contents_title_third {
    background-color:rgba(255, 255, 255, 0.062);
    border-bottom:4px solid rgba(255, 255, 255, 0.651);
    border-radius: 15px;
    box-shadow:
    1px 2px 1px rgb(182, 114, 114), 
    2px 4px 1px rgb(155, 88, 88),
    3px 6px 1px rgb(141, 77, 77),
    4px 8px 1px rgb(124, 55, 55),
    5px 10px 1px rgb(110, 44, 44),
    6px 12px 0px rgb(85, 31, 31),
    7px 13px 5px rgba(0, 0, 0, 0.377);
}

.contents_title_data {
    background-color:rgba(255, 255, 255, 0.062);
    border-bottom:4px solid rgba(255, 255, 255, 0.651);
    border-radius: 15px;
    box-shadow:
    1px 2px 1px rgb(92, 115, 167), 
    2px 4px 1px rgb(81, 103, 153),
    3px 6px 1px rgb(71, 91, 139),
    4px 8px 1px rgb(60, 81, 129),
    5px 10px 1px rgb(52, 72, 119),
    6px 12px 0px rgb(31, 47, 85),
    7px 13px 5px rgba(0, 0, 0, 0.377);
}

.contents_block_field {
    margin:auto;
}

.contents_block {
    display: inline-block;
    text-align: center;
    margin:45px 20px;
    width: 140px;
    height: 170px;
    border-radius: 15px;
    background-color: rgb(77, 143, 88);
    box-shadow: 
    5px 5px rgb(41, 87, 48),
    6px 6px 5px rgba(0, 0, 0, 0.377);
}

.contents_block img{
    float:center;
    width:75px;
    height:auto;
}


.contents_block p{
    font-size:8px;
    margin:6px auto auto 40px;
}

.fukidashi {
    display: none;
    width: 200px;
    position: absolute;
    top: 0;
    left: 250px;
    padding: 16px;
    border-radius: 5px;
    background: #33cc99;
    color: #fff;
    font-weight: bold;
}

.fukidashi:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -19px;
    margin-left: 10px;
    border: solid transparent;
    border-color: rgba(51, 204, 153, 0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

.contents_block :hover + .fukidashi {
    display: block;
}


//footer
footer {
    z-index: 1;
    position: fixed;
    font-size:14px;
    width: 100%;
    height:auto;
    padding: 3px 0 3px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgb(47, 61, 97);
}

.footer_field p{
    color:white;
}

.footer_field_right {
    float: right;
    padding-right:20px;
}

.footer_field_left {
    float: left;
    padding-left:20px;
}

.footer_field_right i{
    color:#55acee;
}